<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FOR HIM STORES</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1 class="header">For Him </h1>

<div id="Product-Store" class="row">
    <div v-for="(prdct, i) in products">
        <div  v-bind:id="'card'+i">
            <div class="card column">
                    <div>
                        <img v-if="prdct.img" v-bind:src="prdct.img">
                        <p>Product name: {{prdct.name}}</p>
                        <p>Product Brand: {{prdct.brand}}</p>
                        <p>Product Price: {{prdct.price}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <Button class="reg-btn"><a href="pageResgistrion.html">Click here to Register for new products</a></Button>
</div>

<div class="home-btn"><a href="index.html">Home</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>